.kl-ingra-regular, .kl-modal-contact-content .ginput_container label {
  font-family: "ingra", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important; }

.kl-ingra-ultra-light {
  font-family: "ingra", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important; }

.kl-modal-contact-content {
  top: 350px;
  width: 100%;
  max-width: 1170px; }

.kl-form-contact .kl-modal-contact-content {
  top: 410px; }

.kl-form-contact .kl-modal-contact-content .gform_wrapper {
  margin-top: 0px; }

.kl-form-contact .kl-info-contact {
  margin-top: 50px; }

.kl-img-contact-modal {
  max-width: 40px; }

.kl-table {
  display: table; }

.kl-table-cell {
  display: table-cell;
  vertical-align: middle; }

.kl-info-contact h3, .kl-social-info span {
  font-size: 14px; }

.kl-modal-contact-content .kl-info-contact h3, #id-bltzr-contact-form .kl-info-contact p {
  text-align: left;
  font-family: "ingra", sans-serif;
  color: #fff !important; }

.kl-modal-contact-content .kl-info-contact h3 {
  font-weight: 400 !important;
  font-style: normal !important; }

.kl-info-contact p {
  font-family: "ingra", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal; }
  .kl-info-contact p a {
    font-family: "ingra", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal; }

.kl-modal-contact-content .kl-info-contact h3 {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  padding: 0; }

#id-bltzr-contact-form .kl-info-contact a, #id-bltzr-contact-form .kl-info-contact p {
  font-family: 'Montserrat', sans-serif;
  color: #fff !important;
  font-weight: 100;
  font-size: 20px; }

.kl-modal-contact-content .kl-info-contact a:hover {
  color: #fff !important;
  text-decoration: none; }
.kl-modal-contact-content .kl-info-contact p {
  font-size: 28px;
  line-height: 1.5;
  margin: 0;
  padding: 7px 0 5px; }
.kl-modal-contact-content .kl-social-info a {
  border: 1px solid #ff3366;
  text-align: center;
  font-size: 16px;
  margin: 0 8px;
  color: #fff;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  padding: 0 !important;
  display: inline-block;
  line-height: 59px; }
  .kl-modal-contact-content .kl-social-info a i {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 18px !important; }

.kl-modal-contact-content i {
  color: #ff3366;
  margin-right: 7px;
  text-align: left;
  font-size: 17px; }

.kl-block-info {
  margin-bottom: 49px; }

.kl-social-info p {
  font-size: 16px; }

.kl-modal-contact-content.md-show li.gfield {
  margin-bottom: 35px; }
.kl-modal-contact-content .ginput_container {
  margin-bottom: 45px;
  position: relative;
  /* HIGHLIGHTER ================================== */
  /* ANIMATIONS ================ */ }
  .kl-modal-contact-content .ginput_container input, .kl-modal-contact-content .ginput_container textarea {
    font-size: 18px !important;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    background: transparent;
    font-family: "ingra", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    /* active state */ }
    .kl-modal-contact-content .ginput_container input:focus, .kl-modal-contact-content .ginput_container textarea:focus {
      outline: none; }
    .kl-modal-contact-content .ginput_container input:focus ~ label, .kl-modal-contact-content .ginput_container input.kl-has-value ~ label, .kl-modal-contact-content .ginput_container textarea:focus ~ label, .kl-modal-contact-content .ginput_container textarea.kl-has-value ~ label {
      top: -20px;
      font-size: 14px !important;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.3rem; }
    .kl-modal-contact-content .ginput_container input:focus-within, .kl-modal-contact-content .ginput_container textarea:focus-within {
      border-bottom: 1px solid #fff; }
    .kl-modal-contact-content .ginput_container input:focus ~ .bar:before, .kl-modal-contact-content .ginput_container input:focus ~ .bar:after, .kl-modal-contact-content .ginput_container textarea:focus ~ .bar:before, .kl-modal-contact-content .ginput_container textarea:focus ~ .bar:after {
      width: 50%; }
    .kl-modal-contact-content .ginput_container input:focus ~ .highlight, .kl-modal-contact-content .ginput_container input:visited ~ .highlight, .kl-modal-contact-content .ginput_container textarea:focus ~ .highlight, .kl-modal-contact-content .ginput_container textarea:visited ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease; }
  .kl-modal-contact-content .ginput_container label {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px !important;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .kl-modal-contact-content .ginput_container .bar {
    position: relative;
    display: block;
    width: 100%; }
    .kl-modal-contact-content .ginput_container .bar:before, .kl-modal-contact-content .ginput_container .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #ff3366;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .kl-modal-contact-content .ginput_container .bar:before {
      left: 50%; }
    .kl-modal-contact-content .ginput_container .bar:after {
      right: 50%; }
  .kl-modal-contact-content .ginput_container .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
@-webkit-keyframes inputHighlighter {
  from {
    background: #000; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #000; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #000; }
  to {
    width: 0;
    background: transparent; } }
.kl-modal-contact-content .ginput_container input:focus, .kl-modal-contact-content .ginput_container textarea:focus {
  border-bottom: 1px solid transparent !important; }

.md-overlay.kl-overlay-contact {
  background: #000 !important; }

.kl-modal-contact-content .gform_wrapper textarea.large {
  height: 90px; }

.kl-modal-contact-content .gform_button {
  position: relative; }

.kl-modal-contact-content .gform_button {
  font-family: "ingra", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  background: transparent url(../images/img-send.png) center right no-repeat;
  padding: 17px;
  border-radius: 50px;
  padding-right: 50px;
  border: solid 1px #ff3366;
  font-size: 14px !important;
  font-family: ingra, sans-serif;
  min-width: 178px;
  width: 178px !important;
  background-position: 120px; }
  .kl-modal-contact-content .gform_button:hover, .kl-modal-contact-content .gform_button:focus {
    background: linear-gradient(45deg, #f2279e, #ff3366); }

.kl-modal-contact-content .gform_wrapper .gform_footer {
  text-align: center; }

.kl-modal-contact-content .md-close {
  font-size: 40px;
  color: #fff !important; }

.kl-modal-contact-content.md-modal {
  position: absolute; }

.kl-border {
  border: 1px solid #fff; }

.kl-info-contact {
  position: relative;
  margin-top: 50px; }

.kl-info-contact:before {
  position: absolute;
  content: "";
  height: 107%;
  width: 1px;
  left: -50px;
  top: -7%;
  background: rgba(228, 243, 255, 0.4); }

.kl-modal-contact-content .kl-social-info span {
  margin-right: 15px; }

.kl-modal-contact-content .gfield_error {
  background-color: transparent !important; }

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
  border: 1px solid transparent !important; }

.kl-modal-contact-content input {
  font-size: 20px;
  font-family: ingra, sans-serif; }

.kl-modal-contact-content .validation_error, .instruction.validation_message {
  font-size: 14px !important;
  color: #ff3366 !important;
  font-weight: lighter !important;
  font-family: ingra, sans-serif !important;
  padding: 0 0 16px;
  margin: 0 0 2px; }

.kl-modal-contact-content .gform_wrapper div.validation_error, .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  border-top: 2px solid transparent !important;
  border-bottom: 2px solid transparent !important;
  text-align: left !important; }

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
  border-bottom: 1px solid #ff3366 !important; }

span.kl-close-contact.pull-right {
  cursor: pointer; }

.kl-modal-contact-content .kl-social-info a, .kl-modal-contact-content .gform_button {
  transition: all 0.5s; }

.kl-modal-contact-content .kl-social-info a:hover, .kl-modal-contact-content .gform_button:hover {
  background: #ff3366; }

.kl-modal-contact-content .gform_button:hover {
  background: #ff3366 url(../images/img-send.png) 120px no-repeat; }

.kl-modal-contact-content .gform_wrapper {
  margin-top: 35px; }

.kl-modal-contact-content .gform_wrapper .top_label li.gfield.gf_left_half, .kl-modal-contact-content .gform_wrapper .top_label li.gfield.gf_right_half {
  margin-bottom: 55px; }

.kl-modal-contact-content .gform_wrapper li.gfield_error div.ginput_complex.ginput_container label,
.kl-modal-contact-content .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
  color: #fff; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .kl-modal-contact-content .kl-social-info a, .kl-modal-contact-content .kl-social-info span {
    margin: 0px; }

  .kl-form-contact .kl-modal-contact-content {
    top: 425px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .kl-form-contact .kl-modal-contact-content {
    top: 620px; }

  .kl-modal-contact-content .gform_wrapper ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
    margin-top: 15px; } }
@media screen and (max-width: 991px) {
  .kl-modal-contact-content {
    top: 610px; }

  .kl-block-info {
    margin-bottom: 30px; }

  .kl-modal-contact-content .kl-info-contact h3, #id-bltzr-contact-form .kl-info-contact p, #id-bltzr-contact-form .kl-info-contact a {
    text-align: center; }

  .kl-modal-contact-content .kl-social-info span {
    display: block;
    margin-bottom: 10px;
    margin-right: 0; } }
@media screen and (max-width: 767px) {
  .kl-info-contact p {
    font-size: 24px; }

  .kl-modal-contact-content {
    top: 640px; }

  .kl-form-contact .kl-modal-contact-content {
    top: 730px; }

  .kl-modal-contact-content .kl-info-contact p {
    font-size: 20px; }

  .kl-modal-contact-content .ginput_container {
    margin-bottom: 0; } }
@media screen and (max-width: 575px) {
  .kl-modal-contact-content {
    top: 680px; }

  .kl-form-contact .kl-modal-contact-content {
    top: 830px; } }
.name_last label {
  display: none !important; }

@media only screen and (min-width: 641px) {
  .gform_wrapper .top_label li:nth-of-type(odd) {
    padding-right: 35px !important;
    padding-left: 0 !important; }
  .gform_wrapper .top_label li:nth-of-type(even) {
    padding-left: 35px !important;
    padding-right: 0 !important; }
  .gform_wrapper .top_label li:nth-of-type(n + 5) {
    padding: 0 !important; } }
.kl-modal-contact-content .gform_wrapper div.validation_error {
  color: #ff3366;
  font-size: 13px;
  font-weight: 400; }
  .kl-modal-contact-content .gform_wrapper div.validation_error::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    content: "\f071";
    color: #ff3366;
    font-size: 15px;
    margin-right: 7px; }
.kl-modal-contact-content .gform_wrapper .validation_message {
  color: #ff3366;
  font-size: 13px;
  font-weight: 400;
  font-family: "ingra", sans-serif; }
.kl-modal-contact-content .gform_wrapper li.gfield.gfield_error {
  padding-top: 0 !important; }
.kl-modal-contact-content .gform_wrapper li.gfield:last-child {
  margin-bottom: 0 !important; }
  .kl-modal-contact-content .gform_wrapper li.gfield:last-child div.ginput_container {
    margin-bottom: 5px !important; }
.kl-modal-contact-content .gform_wrapper .instruction.validation_message {
  position: absolute;
  bottom: -55px;
  left: 0;
  border-radius: 4px;
  padding: 2px 6px;
  background: #302c2c;
  z-index: 1000; }

.kl-screen-height {
  height: 100vh !important;
  overflow-y: auto !important; }

body.kl-form-contact .kl-modal-contact-content .ginput_container input ~ label, body.kl-form-contact .kl-modal-contact-content .ginput_container textarea ~ label {
  top: -20px;
  font-size: 14px !important;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem; }

.kl-block-info.kl-social-info i {
  font-size: 12px !important; }

.kl-modal-contact-content .ginput_container input.kl-has-value, .kl-modal-contact-content .ginput_container textarea.kl-has-value {
  border-bottom: 1px solid #fff; }

/*# sourceMappingURL=livenexx.css.map */
